/* .navbar-nav{
    justify-content: end;
    display: flex;
    flex-direction: row-reverse;
} */

*{
    box-sizing: border-box;
}

.navbar-brand img {
    width: 117px;
    padding-left: 4px;
    margin-left: 46px;
}

#navbarNav{
    justify-content:end;
    padding-right: 50px;

}

.row{
    /* display: inline-block; */
    position: absolute;
    top: 20%;
    width: 90%;
    height: auto;
    border: 2px solid white;
    margin-left: 28px;
    margin-right: 42px;
    margin-top: 36px;
    /* pointer-events: none; */
}

.col1{
    display: inline-block;
    /* position: absolute; */
    width:60%;
    height: 100%;

}
.col2{
    display: inline-block;
    position: fixed;
    top: 55px;
    right: 2px;
    width:40%;
    height: 100%;

}

.phela{
    position: fixed;
    top: 18%;
    right: 22%;
}
.dusra{
    position: fixed;
    top:12%;
}

.row1{
    position: fixed;
    top: 54%;
    width: 90%;
    height: 20%;
    border: 2px solid white;
    margin-left: 40px;
    margin-right: 42px;
    margin-top: 66px;

} 

.rc1{
    display: inline-block;
    border:1px solid white;
    width: 220px;
    height: 100%;
}

.rc2{
    display: inline-block;
    border:1px solid white;
    width: 220px;
    height: 100%;
}
.rc3{
    display: inline-block;
    border:1px solid white;
    width: 220px;
    height: 100%;
}
.rc4{
    display: inline-block;
    border:1px solid white;
    width: 220px;
    height: 100%;
}
.rc5{
    display: inline-block;
    border:1px solid white;
    width: 220px;
    height: 100%;
}

.img1{
    position: fixed;
}

.img2{
    position: fixed;
}
.img3{
    position: fixed;
}
.img4{
    position: fixed;
}
.img5{
    position: fixed;
}


/* div{
    height: 150px;
    border: 2px solid black;
} */
/* .secondpart{
    position: fixed;
    border: 2px solid black;
    top:75%;
    width: 90%;
}

.r1{
    position: fixed;
    width:100%;
    height: 35%;
    border: 2px solid grey;
}

.r2{
    position: fixed;
    width:100%;
    height: 65%;
    border: 2px solid grey;
} */


/* #centerkiliye{
    justify-content: left;
} */









/* .example img {
    width: 56%;
    position: relative;
    right: 2px;
}

.example .overlay {
    position: absolute;
    top: 80px;
    right: 15px;
} */
    /* font-weight: bold;
    text-align: right;
    font-size: 30px; */
  /* } */

/* background-image: url("bg3.png"), url("bg1.jpg"); */
/* .customBack{
    width: 190px;
    height: 302px;
    background-image: url("/images/Vector.png"),url("images/handsome-businessman-suit-glasses-cross-arms-chest-look\ 1.png") !important;
} */
/* h2{
    text-align: center;
    width:100%;
    position:absolute;
    bottom:0;
} */

/* .row1{
    display: inline-block;
    width: 100%;
    height: 120px;
    border: 2px solid black;
    justify-content: center;
    margin-left: 28px;
    margin-right: 42px;
} */

/* .div {
    height: 150px;
    border: solid 2px green;
} */
/* #bichme le{
    justify-content: center;
} */
/* div{
    height: 240px;
    width: 90%;
    border: 2px solid grey;
} */